@charset "utf-8";
/* CSS Document */


.back
{
	width: 1920px;
	height:auto;
	background-color:aqua;
}

.logo
{
	width:150%;
	height: 20%;
	float:left;
	margin: -40px 0px 0px 10px;
}

.top
{
	width: 1920px;
	height: 60px;
	background-color:#0A3644;
}



.top ul
{
	list-style: none;
	padding-right: 10%;
}



.top ul li
{
	float: right;
	padding: 22px 50px 20px 50px;
	position: relative;

}



.top ul li a
{
	text-decoration: none;
	color:#FFFFFF;
    font-family:jura;
}


.top ul li:hover
{
	background-color:#E2A870;
	
}


.top ul li ul
{
	position: absolute;
	left: -41px;
	top: 60px;
	visibility: hidden;
}



.top ul li ul li
{
	width: 78px;
	background-color:#E2A870;
}


.top ul li:hover ul
{
	visibility: visible;
}

.content1
{
	width: 100%;
	height: 1020px;
	background-color: #FFFFFF;
	float: left;
	

}

        .content1_1
        {	
	        width: 100%;
	        height: auto;
	        margin: 100px 0px 0px 0px; 
	       
	        float: left;
	       }
.conten1_1_1
{	
	        width: 100%;
	        height: 40%;
	        margin: 10px 0px 0px 0px; 
	       
	        float: left;
	       }

.content1_2
{	
	width: 100%;
	height: auto;
	margin: -450px 10px 100px 850px;
	float: left;
	font-size: 26pt;
    font-family: benguiat-regular;
}
.content2
{
	width: 1920px;
	height: 1080px;
	background-color:#0A3644;
	float: left;
	
}


        .content2_1
        {
	        width: 50%;
	        height: 100%;
            float: left;
	        margin: 0% 10% 0% 25% ;
            color:aliceblue;
			box-sizing: border-box;
        }


        .content2_1_1
        {
	        width: 40%;
	        height: 60%;
	        background-color:#FFFFFF;
	        float: left;
	        margin: 20% 0px 30%;
	       	box-sizing: border-box;
			color: black;
			
        }


                .content2_1_1_1
                {
                
	            width: 0px;
	            height: 0px;
	            background-color:antiquewhite;
	            float: left;
	            margin: -70% 0% 0% -50%;
				box-sizing:border-box
	            border-radius: 100%;
                }

				.content2_1_1_2
               {
	           	width: 100%;
	           	height: 30%;
	          	float: left;
	           	margin: 40% 0% 0 0;
	            box-sizing: border-box;
				padding: 0% 10%;
                }

				.content2_1_1_3
				{
	           	width: 100%;
	           	height: auto;
	          	background-color:#E2A879;
	            float: left;
	           	margin: 50% 0% ;
				box-sizing: border-box;
				padding: 5%;
				line-height: 0.7;
				}
                

        .content2_1_2
        {
	        width: 40%;
	        height: 60%;
	        background-color:#FFFFFF;
	        float: right;
	        margin: 20% 0px;
	        box-sizing: border-box;
			color: black;
				
        }


				 .content2_1_2_1
                {
	            width: 0px;
	            height: 0px;
	            background-color:antiquewhite;
	            float: left;
	            margin: -115% 0% 0 -95%;
	            border-radius: 100%;
				
                }


				 .content2_1_2_2
               	 {
	           	width: 100%;
	           	height: 30%;
	          	float: left;
	           	margin: 40% 0% ;
				box-sizing: border-box;
				padding: 0% 10%;
               }


				.content2_1_2_3
				{
	           	width: 100%;
	           	height: auto;
	          	background-color:#E2A870;
	            float: left;
	           	margin: 10% 0%  0;
				box-sizing: border-box;
				padding: 5%;
				line-height: 0.7;
				}
.content3
{
	width: 1920px;
	height: 1080px;
	background-color:#F4F5F7;
	float: left;
	box-sizing: border-box;
}

    .content3_1
     {
    width: 50%;
    height: 100%;
    float: left;
    margin: 0% 10% 0% 25% ;
	box-sizing: border-box;
    }
    

        .content3_1_1
        {
            width: 50%;
            height: auto;
            float: left;
            margin: 10% 0% 0% 0% ;
			box-sizing: border-box;
        }
        
                 .content3_1_1_1
                {
                    width: 420px;
                    height: auto;
                    background-color:#FFFFFF;
                    float: left;
                    margin: 0% 0% 0% 0% ;
					box-sizing: border-box;
					line-height: normal;
					padding: 5% 10%;
                }
                 .content3_1_1_2
                {
                    width: 100%;
                    height: 55%;
                    background-color:#E2A870;
                    float: left;
                    margin: 10% 0% 0% 0% ;
					box-sizing: border-box;
                }

        .content3_1_2
        {
            width: 48%;
            height: 70%;
            background-color: #FFFFFF;
            float: right;
            margin: 10% 0% 0% 0% ;
			box-sizing: border-box;
        }
         			.content3_1_2_1
					{
					width: 420px;
					height: auto;
					float: left;
					margin: 0px 0px 0px 0px;
					padding: 3% 0% 0% 10%;
					font-size: 25pt;
					box-sizing: border-box
						
					}
					
					.content3_1_2_2
					{
					width: 300px;
					height: auto;
					float: right;
					margin: 0px 17px 0px 0px;
					padding: 0% 0% 0% 0%;
					
					}
		
					.button
					{
					width: 180px;
					height: 50px;
					border-radius: 50px;
					background-color:#E2A870;
					color: aliceblue;
					font-size: 12pt
        
					}

.info
{
	width: 1920px;
	height: 350px;
	background-color:#0A3644;
	float: left;
}
			   .info_1
     		{
   			width: 50%;
    		height: auto;
    		float: left;
    		margin: 0% 0% 0% 25% ;
			box-sizing: border-box;
   		 	}

				.info_1_1
     			{
		   		width: 300px;
    			height: auto;
    			float: left;
    			margin: 3% 0% 0% 0% ;
				box-sizing: border-box;
				color:#E2A870;
				line-height: 1.5;
                font-family: benguiat-regular;
   		 		}

		



